<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="dynamicMongooseSchema">
<div ng-controller="SchemaController as schemaController">
    New Schema Details:
    <hr/>
    {{schemaController.errorMessage}}
    <div>
        Database Name: <input type="text" ng-model="schemaController.newSchema.databaseName">
        Table Name: <input type="text" ng-model="schemaController.newSchema.tableName">
    </div>
    Columns:
    <button type="button" ng-click="schemaController.addNewColumn();">Add New Column</button>
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Required</td>
            <td>UpperCase/LowerCase</td>
            <td>Trim</td>
            <td>Unique</td>
            <td>Index</td>
            <td>Default</td>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td><button type="button" ng-click="schemaController.reset();">Reset</button></td>
            <td><button type="button" ng-click="schemaController.save();">Save</button></td>
        </tr>
        </tfoot>
        <tbody>
        <tr>
            <td>_id</td>
            <td>ObjectId</td>
            <td>true</td>
            <td>NA</td>
            <td>NA</td>
            <td>true</td>
            <td>true</td>
            <td></td>
        </tr>
        <tr ng-repeat="column in schemaController.newSchema.columns track by column.name">
            <td><input type="text" ng-model="column.name"></td>
            <td>
                <select ng-options="type for type in ::schemaController.types" ng-model="column.type">
                    <option value="">NA</option>
                </select>
            </td>
            <td>
                <select ng-model="column.required">
                    <option value="">NA</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </td>
            <td>
                <select ng-model="column.letterCase">
                    <option value="">NA</option>
                    <option value="U">Upper Case</option>
                    <option value="L">Lower Case</option>
                </select>
            </td>
            <td>
                <select ng-model="column.trim">
                    <option value="">NA</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </td>
            <td>
                <select ng-model="column.unique">
                    <option value="">NA</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </td>
            <td>
                <select ng-model="column.index">
                    <option value="">NA</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </td>
            <td>
                <input type="text" ng-model="column.default">
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-controller="SchemaListController as schemaListController">
    <table>
        <thead>
        <tr>
            <td>Database Name</td>
            <td>Table Name</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="schema in schemaListController.schemas track by $index" ng-click="schemaListController.viewSchema($index)">
            <td>{{schema.databaseName}}</td>
            <td>{{schema.tableName}}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <h1>Schema View</h1>
        {{schemaListController.schemaView | json}}
    </div>
</div>
<script type="application/javascript" src="angular/angular.min.js"></script>
<script type="application/javascript" src="index.js"></script>
</body>
</html>