<div class="container well infobox">
    <h4 class="title">Edit API Details</h4>

    <div>
        <form>
            <div class="form-group">
                <div class="clear">&nbsp;</div>
                <span class="col-md-1" for="apiName">Name</span>

                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="apiEdit.updatedApi.name">
                </div>
                <span class="col-md-1" for="tbName">URL</span>

                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="apiEdit.updatedApi.url">
                </div>
                <span class="col-md-1" for="tbName">Method</span>

                <div class="col-md-3">
                    <select ng-options="method for method in ::apiEdit.methods"
                            ng-model="apiEdit.updatedApi.method"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="clear">&nbsp;</div>
                <div>Handler</div>
                <textarea rows="20" cols="150" ng-model="apiEdit.updatedApi.handler"></textarea>
            </div>
            <div class="clear">&nbsp;</div>
        </form>
        <div class="text-danger" ng-show="!apiEdit.successMessage">
            {{apiEdit.errorMessage}}
        </div>
        <div class="text-success" ng-show="!apiEdit.errorMessage">
            {{apiEdit.successMessage}}
        </div>
        <div class="center">
            <button type="button" class="btn btn-primary" ng-click="apiEdit.reset(true);">
                Reset
            </button>
            <button type="button" class="btn btn-success" ng-click="apiEdit.udpate();">
                Update
            </button>
        </div>
    </div>
</div>