<div class="modal-header">
    <button type="button" class="close" ng-click="schemaAddController.cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">New Table Details</h4>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <div class="clear">&nbsp;</div>
            <span class="col-md-4" for="dbName">Database Name</span>

            <div class="col-md-4">
                <input type="text" id="dbName" class="form-control"
                       ng-model="schemaAddController.newSchema.databaseName">
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
        <div class="form-group">
            <div class="clear">&nbsp;</div>
            <span class="col-md-4" for="tbName">Table Name</span>

            <div class="col-md-4">
                <input class="form-control" type="text" id="tbName"
                       ng-model="schemaAddController.newSchema.tableName">
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
        <div class="form-group">
            <div class="clear">&nbsp;</div>
            <span class="col-md-4" for="dbName">&nbsp;</span>

            <div class="col-md-4">
                <button type="button" class="btn btn-success btn-sm"
                        ng-click="schemaAddController.addNewColumn();">Add New Column
                </button>
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
        <div class="clear">&nbsp;</div>
    </form>
    <div class="container" style="overflow:auto; max-width: 563px; max-height: 250px;">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Name</td>
                <td>Type</td>
                <td>Required</td>
                <td>Upper/Lower Case</td>
                <td>Trim</td>
                <td>Unique</td>
                <td>Index</td>
                <td>Default</td>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="8">
                    <button type="button" class="btn btn-primary" ng-click="schemaAddController.reset();">
                        Reset
                    </button>
                    <button type="button" class="btn btn-success" ng-click="schemaAddController.save();">
                        Save
                    </button>
                </td>
            </tr>
            </tfoot>
            <tbody>
            <tr>
                <td>_id</td>
                <td>ObjectId</td>
                <td>true</td>
                <td>NA</td>
                <td>NA</td>
                <td>true</td>
                <td>true</td>
                <td></td>
            </tr>
            <tr ng-repeat="column in schemaAddController.newSchema.columns track by column.name">
                <td><input type="text" ng-model="column.name"></td>
                <td>
                    <select ng-options="type for type in ::schemaAddController.types"
                            ng-model="column.type">
                        <option value="">NA</option>
                    </select>
                </td>
                <td>
                    <select ng-model="column.required">
                        <option value="">NA</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </td>
                <td>
                    <select ng-model="column.letterCase">
                        <option value="">NA</option>
                        <option value="U">Upper Case</option>
                        <option value="L">Lower Case</option>
                    </select>
                </td>
                <td>
                    <select ng-model="column.trim">
                        <option value="">NA</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </td>
                <td>
                    <select ng-model="column.unique">
                        <option value="">NA</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </td>
                <td>
                    <select ng-model="column.index">
                        <option value="">NA</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </td>
                <td>
                    <input type="text" ng-model="column.default">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="error">
        {{schemaAddController.errorMessage}}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="schemaAddController.cancel()">Close</button>
</div>